*{
    outline: none;
    border: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    margin: 0; /* Elimina el margen predeterminado del navegador */
    padding: 0; /* Elimina el relleno predeterminado del navegador */
    width: 100%; /* Ocupa todo el ancho de la ventana */
    height: 100vh; /* Ocupa toda la altura de la ventana */
    background-color: var(--background);
}

.select-container {
    margin-bottom: 20px;
}

.select-container label {
    display: block;
    margin-bottom: 5px;
}

.select-container select {
    width: 100%;
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.emoji-container {
    margin-top: 20px;
}

.emoji-container label {
    display: block;
    margin-bottom: 5px;
}

.emoji-container input[type="text"] {
    width: 100%;
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.contenedor-principal {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
}

.form-container {
    width: 100%;
    max-width: 600px; /* Ajusta el ancho según sea necesario */
    margin: 20px 0;
}

.form-control {
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.checkbox-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.button-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.btn {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn-primary {
    background-color: #007bff;
    color: #fff;
}

.btn-secondary {
    background-color: #6c757d;
    color: #fff;
}

.output-container {
    width: 100%;
    max-width: 600px; /* Ajusta el ancho según sea necesario */
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f8f9fa;
}
