:root{
  --color-cambiar-nombre-1: #ffffff;
  --color-cambiar-nombre-2: #30261C;
  --color-cambiar-nombre-3: #403831;
  --color-cambiar-nombre-4: #36544F;
  --color-cambiar-nombre-5: #1F5F61; 
  /* MENÚ #0b8185*/
  --color-bg-circulo-menu: #30261C;
  --color-txt-circulo-menu: #f1f1f1;  
  --color-bg-barralateral: #1F5F61;    
 
}

.dark-mode{
  /* MENÚ */

}


/*-----------------Menu*/
.menu{
  position: fixed;
  width: 40px;
  height: 40px;
  font-size: 40px;
  font-weight: 800;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  cursor: pointer;
  background: var(--color-bg-circulo-menu);
  right: 15px;
  top: 15px;
  z-index: 100;
}

.menu__rayas {
  fill: white!important;
}

.menu .equis {
  display: none; /* Ocultar la equis inicialmente */
}

.menu.menu-abierto .menu__rayas {
  display: none;
}

.menu.menu-abierto .equis {
  display: block;
}

.menu ion-icon:nth-child(2){
  display: none;
}
/*----------------Barra Lateral*/
.barra-lateral{
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 250px;
  height: 100%;
  overflow: hidden;
  padding: 20px 10px;
  background-color: var(--color-bg-barralateral);
  transition: width 0.5s ease,background-color 0.3s ease,left 0.5s ease;
  z-index: 50;
}

.barra-lateral{
  left: -250px;
}

.mini-barra-lateral{
  width: 80px;
}


.barra-lateral span.oculto{
  opacity: 0;
  width: 0;
}
/*------------> Nombre de la página */
.barra-lateral .nombre-pagina{
  width: 100%;
  height: 45px;
  /* margin-bottom: 40px; */
  display: flex;
  align-items: center;
  justify-content: center;
}

.barra-lateral .titulo-nav{
  font-size: 2rem;
  font-weight: 700;
  color: var(--color-title-menu);
}

.barra-lateral .navegador-opcion{
  width: 100px;
  white-space: nowrap;
  font-size: 1.3rem;
  text-align: left;
  opacity: 1;
  transition: opacity 0.5s ease,width 0.5s ease;
}

.barra-lateral .nombre-pagina #cloud{
  min-width: 50px;
  font-size: 40px;
  cursor: pointer;
  color: var(--color-arrow-menu);
}

.barra-lateral .navegacion{
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}
.barra-lateral .navegacion::-webkit-scrollbar{
  width: 5px;
}
.barra-lateral .navegacion::-webkit-scrollbar-thumb{
  background-color: var(--color-scroll);
  border-radius: 5px;
}
.barra-lateral .navegacion::-webkit-scrollbar-thumb:hover{
  background-color: var(--color-scroll-hover);
}
.barra-lateral .navegacion li{  
  list-style: none;
}
.barra-lateral .navegacion a{
  width: 100%;
  height: 45px;
  display: flex;
  align-items: center;
  text-decoration: none;
  border-radius: 10px;
  color: var(--color-texto-menu);
}
.barra-lateral .navegacion a:hover{
  background-color: var(--color-menu-hover);
  color: var(--color-menu-hover-texto);
}
.barra-lateral .navegacion ion-icon{
  min-width: 50px;
  font-size: 20px;
}
.max-barra-lateral{
  max-width: 65%;
  left: 0;
}
/*-----------------> Linea*/

.barra-lateral .linea{
  width: 100%;
  height: 1px;
  background-color: var(--color-linea);
}

/*----------------> Modo Oscuro*/
.barra-lateral .modo-oscuro{
  width: 100%;
  margin-bottom: 80px;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
}
.barra-lateral .modo-oscuro{
  margin-bottom: 3px;
}

.barra-lateral .modo-oscuro .info{
  width: 150px;
  height: 45px;
  overflow: hidden;
  display: flex;
  align-items: center;
  color: var(--color-texto-menu);
}
.barra-lateral .modo-oscuro ion-icon{
  width: 50px;
  font-size: 20px;
}

/*--->switch*/
.barra-lateral .modo-oscuro .switch{
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 50px;
  height: 45px;
  cursor: pointer;
}
.barra-lateral .modo-oscuro .base{
  position: relative;
  display: flex;
  align-items: center;
  width: 35px;
  height: 20px;
  background-color: var(--color-switch-base);
  border-radius: 50px;
}
.barra-lateral .modo-oscuro .circulo{
  position: absolute;
  width: 18px;
  height: 90%;
  background-color: var(--color-switch-circulo);
  border-radius: 50%;
  left: 2px;
  transition: left 0.5s ease;
}
.barra-lateral .modo-oscuro .circulo.prendido{
  left: 15px;
}

/*---------------> Usuario*/
.barra-lateral .usuario{
  width: 100%;
  display: flex;
}
.barra-lateral .usuario img{
  width: 50px;
  min-width: 50px;
  border-radius: 10px;
}
.barra-lateral .usuario .info-usuario{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--color-texto);
  overflow: hidden;
}
.barra-lateral .usuario .nombre-email{
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-left: 5px;
}
.barra-lateral .usuario .nombre{
  font-size: 15px;
  font-weight: 600;
}
.barra-lateral .usuario .email{
  font-size: 13px;
}
.barra-lateral .usuario ion-icon{
  font-size: 20px;
}

/*-------------main*/

#inbox{
  background-color: var(--color-menu-hover);
  color: var(--color-menu-hover-texto);
}

/* main{
  margin-left: 250px;
  padding: 0px;
  transition: margin-left 0.5s ease;
}

main.min-main{
  margin-left: 80px;
} */

main{
  margin-left: 0;
}
main.min-main{
  margin-left: 0;
}

.dark_mode_txt{
  font-size: .99rem;
}

.nombre{
  font-size: 1.2rem;
}

.nav__link {
  color: #303440;
  display: block;
  padding: 15px;
  text-decoration: none;
}

.nav__link--inside {
  border-radius: 6px;
  padding-left: 20px;
  text-align: left;
}

.nav__list{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* background-color: var(--color-bar-bg-menu); */
}

.nav__item{
  list-style: none;
  width: 100%;
  text-align: center;
  overflow: hidden;
}

.nav__item--click{
  cursor: pointer;
}

.nav__button{
  display: flex;
  align-items: center;
  gap: 1em;
  width: 70%;
  margin: 0 auto;
}

.arrow .list__arrow{
  transform: rotate(90deg);
}

.list__arrow {
  margin-left: auto;
  transition: transform .3s;
}

.nav__show {
  width: 80%;
  margin-left: auto;
  border-left: 2px solid #303440;
  list-style: none;
  transition: height .4s;
  height: 0;
}

/*------------------> Responsive*/
@media (min-width: 370px) and (min-height: 600px) {
  /* Estilos que deseas aplicar para dispositivos con un ancho mínimo de 375px y un alto mínimo de 812px */
  .barra-lateral .navegacion{
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      padding: 20px;
  }

  .barra-lateral .navegador-opcion {
      font-size: 1.3rem;
      padding-top: 10px;
  }
  .barra-lateral .navegacion ion-icon {
      min-width: 40px;
      font-size: 25px;
  }
}

@media (min-width: 400px) and (min-height: 700px) {
  .barra-lateral .navegador-opcion {
      font-size: 1.5rem;
      padding-top: 10px;
  }

  .barra-lateral .navegacion a {
      height: 70px;
  }
}

@media (min-width: 720px){
  
  .menu{
      display: none;
  }

  main{
      margin-left: 250px;
      padding: 0px;
      transition: margin-left 0.5s ease;
  }

  main.min-main{
      margin-left: 80px;
  }

  .barra-lateral{
      left: 0px;
  }
  
}