<!DOCTYPE html>
<html lang="es">
<head>
    {% block head %}
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
        <link rel="stylesheet" href="../static/css/style.css">
    {% endblock head %}

    <title>
        {% block title %}
            Tricks |  
        {% endblock title %}
    </title>
</head>

<body>
    <header>
        <nav>
            {% block menu %}
            
            {% endblock menu %}
        </nav>

        {% block banner %}

        {% endblock banner %}
    </header>
    <main class="contenedor-principal">
        <h1 id="metodo">
            {% block title_trick %}
            
            {% endblock title_trick %}
        </h1>
        {% block contenido %}
        
        {% endblock contenido %}
    </main>
    
    


{% block script %}
    
{% endblock script %}
</body>
</html>