{% extends 'nav.html' %}

{% block title %}
 {{ super() }}
{% endblock title %}
{% block title_trick %}
    {{ super() }}
{% endblock title_trick %}
{% block contenido %}
    {{ super() }}
    <div class="select-container">
        <label for="casas">Selecciona tu casa:</label>
        <select id="casas" name="casas">
            <option value="Slytherin">Slytherin</option>
            <option value="Gryffindor">Gryffindor</option>
            <option value="Ravenclaw">Ravenclaw</option>
            <option value="Hufflepuff">Hufflepuff</option>
        </select>
    </div>

    <div class="emoji-container">
        <label for="emoji">Introduce un emoji:</label>
        <input type="text" id="emoji" name="emoji" class="form-control" placeholder="Escribe un emoji">
    </div>
    
    <div class="form-container">
        <input type="text" id="palabra_entrada" name="palabra" class="form-control" placeholder="Ingresa una palabra" onkeydown="if(event.keyCode==13) transformarCarrusel()">
        <div class="checkbox-container">
            <label for="enumerar"><input type="checkbox" id="enumerar" name="enumerar">Enumerado</label>
            <label for="espaciar"><input type="checkbox" id="espaciar" name="espaciar">Espaciado</label>
            <label for="mayusculas"><input type="checkbox" id="mayusculas" name="mayusculas">Mayusculas</label>
            <label for="Minusculas"><input type="checkbox" id="Minusculas" name="Minusculas">Minusculas</label>
            <label for="SinFormato"><input type="checkbox" id="SinFormato" name="SinFormato" checked>SinFormato</label>
        </div>
        <div class="button-container">
            <button onclick="transformarCarrusel()" class="btn btn-primary">Transformar</button>
        </div>
    </div>
    <div id="resultado_transformacion" class="output-container"></div>
{% endblock contenido %}