{% extends 'base.html' %}

{% block head %}
    {{ super () }}
    <link rel="stylesheet" href="../static/css/styleMenu.css">
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" /> -->
{% endblock head %}

{% block title %}
    {{ super() }}
{% endblock title %}

{% block title_trick %}
    {{ super() }}
{% endblock title_trick %}

{% block menu %}
    <div class="menu">
        <img src="../static/assets/menu.svg" class="menu__rayas"alt="">
        <img src="../static/assets/equis.svg" class="equis" alt="">
    </div>
    <div class="barra-lateral">
        <nav class="nav navegacion">
            <ul class="nav__list">
                <li class="nav__item">
                    <div class="nav__button">
                        <a href="/" class="nav__link navegador-opcion">Inicio</a>
                    </div>
                </li>
                <li class="nav__item">
                    <div class="nav__button">
                        <a href="/carruselNormal" class="nav__link navegador-opcion">Carrusel</a>
                    </div>
                </li>
                <li class="nav__item">
                    <div class="nav__button">
                        <a href="/crucePalabras" class="nav__link navegador-opcion">Cruce Palabra</a>
                    </div>
                </li>
                <li class="nav__item nav__item--click">
                    <ul class="nav__button nav__button--click">
                        <li> <a class="nav__link navegador-opcion">Deletreos</a></li>
                        <img src="../static/assets/arrow.svg" alt="" class="list__arrow">
                    </ul>

                    <ul class="nav__show">
                        <li class="nav__inside">
                            <a href="/deletreoC" class="nav__link nav__link--inside navegador-opcion">C</a>
                        </li>
                    </ul>
                </li>
                <li class="nav__item nav__item--click">
                    <ul class="nav__button nav__button--click">
                        <li> <a class="nav__link navegador-opcion">Lenguas</a></li>
                        <img src="../static/assets/arrow.svg" alt="" class="list__arrow">
                    </ul>

                    <ul class="nav__show">
                        <li class="nav__inside">
                            <a href="/esToParcelTemplate" class="nav__link nav__link--inside navegador-opcion">Español a Parsel</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </nav>
        <div>
            <div class="linea"></div>
            <div class="modo-oscuro">
                <div class="info">
                    <ion-icon name="moon-outline"></ion-icon>
                    <span class="dark_mode_txt">Dark Mode</span>
                </div>
                <div class="switch">
                    <div class="base">
                        <div class="circulo">
                        </div>
                    </div>
                </div>
            </div>
            <div class="usuario">
                <img src="../static/images/{{ usuario }}.png" alt="">
                <div class="info-usuario">
                    <div class="nombre-email">
                        <span class="nombre">{{ usuario }}</span>
                        <!-- <span class="email" style="opacity: 0;">jhampier@gmail.com</span> -->
                    </div>
                    <ion-icon name="ellipsis-vertical-outline"></ion-icon>
                </div>
            </div>
        </div>
    </div>
{% endblock menu %}

{% block contenido %}
    {{ super() }}
{% endblock contenido %}

{% block script %}
    {{ super() }}
    <script src="{{ url_for('static', filename='js/menu.js') }}"></script>
{% endblock script %}